.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto 92px;
  width: calc(100% - 2 * 48px);
  gap: 16px;
}

@media screen and (max-width: 1100px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .photo-grid {
    width: calc(100% - 2 * 24px);
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 500px) {
  .photo-grid {
    width: calc(100% - 2 * 16px);
    grid-template-columns: 1fr;
    gap: 12px;
    margin-bottom: 64px;
  }
}
