.header {
  max-width: 1184px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
}

@media (max-width: 1024px) {
  .header {
    width: 928px;
  }
}

@media (max-width: 768px) {
  .header {
    width: 720px;
  }
}

@media (max-width: 320px) {
  .header {
    width: 288px;
    padding-top: 16px;
  }
}
