.russian-travel__subtitle {
  max-width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 64px;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .russian-travel__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (max-width: 500px) {
  .russian-travel__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto 40px;
  }
}
