.cover {
  margin: 92px auto;
  padding: 0;
  width: calc(100% - 2 * 48px);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1100px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .cover {
    width: 100%;
    margin: 90px auto 88px;
  }
}

@media screen and (max-width: 500px) {
  .cover {
    width: 100%;
    margin: 66px auto 64px;
  }
}
