.russian-travel__caption {
  margin: 0;
  padding-top: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .russian-travel__caption {
    padding-top: 4px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 500px) {
  .russian-travel__caption {
    padding-top: 6px;
    padding-left: 16px;
  }
}
